<div class="background-show">
    <div class="carta-back">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="tapas" role="tabpanel" aria-labelledby="tapas-tab">
                <h2 style="text-align: center; padding-top: 10px; color: white;"><%= t('menues.show_carta.tapa') %></h2>
                <h5 style="color: white;" class="mt-3 pl-3 pr-3"><%= t('menues.show_9granados.terraza') %></h5>
                <h5 style="color: white;" class="mt-3 mb-3 pl-3"><%= t('menues.show_9granados.takeway') %></h5>
                <div class="separate">
                </div>
                <div class="">
                    <% @meals.each do |meal|  %>
                        <% if meal.tapa == true || meal.starter == true || meal.main == true %>
                            <div class="name-price-carta meal-card">
                                <% if params[:locale] == "cat" %>
                                    <h5><%= meal.name_cat %></h5>
                                    <p class="mt-3"><%= meal.description_cat %></p>
                                <% elsif params[:locale] == "en" %>
                                    <h5><%= meal.name_en %></h5>
                                    <p class="mt-3"><%= meal.description_en %></p>
                                <% elsif params[:locale] == "fr" %>
                                    <h5><%= meal.name_fr %></h5>
                                    <p class="mt-3"><%= meal.description_fr %></p>    
                                <% else %>
                                    <h5><%= meal.name %></h5>
                                    <p class="mt-3"><%= meal.description %></p> 
                                <% end %>
                                <% if meal.price_racion.nil? %>
                                    <h6 class="price"><%= meal.price %>€</h6>
                                <% else %>
                                    <div class="prices-box">
                                        <h6 class="price"><%= meal.price %>€ / </h6>
                                        <h6 class="price"><%= meal.price_racion %>€</h6>
                                    </div>
                                <% end %>
                            </div>
                        <div class="separate">
                        </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="tab-pane fade" id="entrantes" role="tabpanel" aria-labelledby="entrantes-tab">
                <h2 style="text-align: center; padding-top: 10px; color: white;"><%= t('menues.show_carta.carne') %></h2>
                <div class="separate">
                </div>
                <div class="">
                    <% @meals.each do |meal|  %>
                        <% if meal.meat == true %>
                        <div class="name-price-carta meal-card">
                            <% if params[:locale] == "cat" %>
                                <h5><%= meal.name_cat %></h5>
                                <p class="mt-3"><%= meal.description_cat %></p>
                            <% elsif params[:locale] == "en" %>
                                <h5><%= meal.name_en %></h5>
                                <p class="mt-3"><%= meal.description_en %></p>
                            <% elsif params[:locale] == "fr" %>
                                <h5><%= meal.name_fr %></h5>
                                <p class="mt-3"><%= meal.description_fr %></p>    
                            <% else %>
                                <h5><%= meal.name %></h5>
                                <p class="mt-3"><%= meal.description %></p> 
                            <% end %>
                            <% if meal.price_racion.nil? %>
                                <h6 class="price"><%= meal.price %>€</h6>
                            <% else %>
                                <div class="prices-box">
                                    <h6 class="price"><%= meal.price %>€ / </h6>
                                    <h6 class="price"><%= meal.price_racion %>€</h6>
                                </div>
                            <% end %>
                        </div>
                        <div class="separate">
                        </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="tab-pane fade" id="principales" role="tabpanel" aria-labelledby="principales-tab">
                <h2 style="text-align: center; padding-top: 10px; color: white;"><%= t('menues.show_carta.pescado') %></h2>
                <div class="separate">
                </div>
                <div class="">
                    <% @meals.each do |meal|  %>
                        <% if meal.fish == true %>
                        <div class="name-price-carta meal-card">
                            <% if params[:locale] == "cat" %>
                                <h5><%= meal.name_cat %></h5>
                                <p class="mt-3"><%= meal.description_cat %></p>
                            <% elsif params[:locale] == "en" %>
                                <h5><%= meal.name_en %></h5>
                                <p class="mt-3"><%= meal.description_en %></p>
                            <% elsif params[:locale] == "fr" %>
                                <h5><%= meal.name_fr %></h5>
                                <p class="mt-3"><%= meal.description_fr %></p>    
                            <% else %>
                                <h5><%= meal.name %></h5>
                                <p class="mt-3"><%= meal.description %></p> 
                            <% end %>
                            <% if meal.price_racion.nil? %>
                                <h6 class="price"><%= meal.price %>€</h6>
                            <% else %>
                                <div class="prices-box">
                                    <h6 class="price"><%= meal.price %>€ / </h6>
                                    <h6 class="price"><%= meal.price_racion %>€</h6>
                                </div>
                            <% end %>
                        </div>
                        <div class="separate">
                        </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="tab-pane fade" id="postres" role="tabpanel" aria-labelledby="postres-tab">
                <h2 style="text-align: center; padding-top: 10px; color: white;"><%= t('menues.show_carta.postre') %></h2>
                <div class="separate">
                </div>
                <div class="">
                    <% @meals.each do |meal|  %>
                        <% if meal.dessert == true %>
                        <div class="name-price-carta meal-card">
                            <% if params[:locale] == "cat" %>
                                <h5><%= meal.name_cat %></h5>
                                <p class="mt-3"><%= meal.description_cat %></p>
                            <% elsif params[:locale] == "en" %>
                                <h5><%= meal.name_en %></h5>
                                <p class="mt-3"><%= meal.description_en %></p>
                            <% elsif params[:locale] == "fr" %>
                                <h5><%= meal.name_fr %></h5>
                                <p class="mt-3"><%= meal.description_fr %></p>    
                            <% else %>
                                <h5><%= meal.name %></h5>
                                <p class="mt-3"><%= meal.description %></p> 
                            <% end %>
                                <h6 class="price"><%= meal.price %>€</h6>
                        </div>
                        <div class="separate">
                        </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="navbar navbar-expand-sm navbar-light navbar-meals">
    <ul class="nav nav-pills tab-menu" id="pills-tab" role="tablist">
        <li class="nav-item col-6">
            <a class="nav-link active" id="own-events-tab" data-toggle="pill" href="#tapas" role="tab" aria-controls="tapas" aria-selected="true"><%= t('menues.show_carta.tapa') %></a>
        </li>
            <li class="nav-item col-6">
            <a class="nav-link" id="favorites-tab" data-toggle="pill" href="#entrantes" role="tab" aria-controls="entrantes" aria-selected="false"><%= t('menues.show_carta.carne') %></a>
        </li>
            <li class="nav-item col-6">
            <a class="nav-link" id="favorites-tab" data-toggle="pill" href="#principales" role="tab" aria-controls="principales" aria-selected="false"><%= t('menues.show_carta.pescado') %></a>
        </li>
            <li class="nav-item col-6">
            <a class="nav-link" id="favorites-tab" data-toggle="pill" href="#postres" role="tab" aria-controls="postres" aria-selected="false"><%= t('menues.show_carta.postre') %></a>
        </li>
    </ul>
</div>