<div class="background-show">
    <div class="carta-back">
        <div class="menu-style">
            <div class="price-position">
                <h2><%= @menu.name %></h2>
                <h5 class="menu-price"><%= @menu.price%>€</h5>
            </div>
            <div class="separate">
            </div>
            <h3><%= t('menues.show_9granados.entrante_title') %></h3>
            <p>- <%= t('menues.show_9granados.entrante_1') %></p>
            <p>- <%= t('menues.show_9granados.entrante_2') %></p>
            <p>- <%= t('menues.show_9granados.entrante_3') %></p>
            <p>- <%= t('menues.show_9granados.entrante_4') %></p>
            <p>- <%= t('menues.show_9granados.entrante_5') %></p>
            <p>- <%= t('menues.show_9granados.entrante_6') %></p>
            <p>- <%= t('menues.show_9granados.entrante_7') %></p>
            <p>- <%= t('menues.show_9granados.entrante_8') %></p>
            <h3><%= t('menues.show_9granados.principal_title') %></h3>
            <p>- <%= t('menues.show_9granados.principal_1')%> </p>
            <p>- <%= t('menues.show_9granados.principal_2')%> </p>
            <p>- <%= t('menues.show_9granados.principal_3')%> </p>
            <p>- <%= t('menues.show_9granados.principal_4')%> </p>
            <p>- <%= t('menues.show_9granados.principal_5')%> </p>
            <p>- <%= t('menues.show_9granados.principal_6')%> </p>
            <p>- <%= t('menues.show_9granados.principal_7')%> </p>
            <p>- <%= t('menues.show_9granados.principal_8')%> </p>
            <p>- <%= t('menues.show_9granados.principal_9')%> </p>
            <p>- <%= t('menues.show_9granados.principal_10')%> </p>
            <p>- <%= t('menues.show_9granados.principal_11')%> </p>
            <h3><%= t('menues.show_9granados.postre_title') %></h3>
            <p>- <%= t('menues.show_9granados.postre_1') %></p>
            <p>- <%= t('menues.show_9granados.postre_2') %></p>
            <p>- <%= t('menues.show_9granados.postre_3') %></p>
            <p>- <%= t('menues.show_9granados.postre_4') %></p>
            <p>- <%= t('menues.show_9granados.postre_5') %></p>
            <p>- <%= t('menues.show_9granados.postre_6') %></p>
            <p>- <%= t('menues.show_9granados.postre_7') %></p>
            <p>- <%= t('menues.show_9granados.postre_8') %></p>
            <h5><%= t('menues.show_9granados.terraza') %></h5>
            <h5><%= t('menues.show_9granados.takeway') %></h5>
        </div>
    </div>
</div>