  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <a class="navbar-brand" href="/users/sign_in">
        <%= image_tag "https://res.cloudinary.com/dfyhqslry/image/upload/v1593498769/Nou%20granados/cropped-9G_petit_e2uemr.jpg" %>
      </a>
    <% if current_user %>
      <div data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <%= image_tag "https://res.cloudinary.com/dfyhqslry/image/upload/v1593708081/Nou%20granados/victor_ciiwzw.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <i class="fas fa-sort-down"></i>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/users/<%=current_user.id%>">My profile</a>
          <a class="dropdown-item" href="/dashboard">Dashboard</a>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"dropdown-item"%>
        </div>
      </div>
    <% else %>
    <div id="navbarSupportedContent">
    <%= render "shared/flag" %>
    <% end %>
    </div>
  </div>